{% extends 'upload/base.html' %}
{% block content %}
<div class="fh5co-info">
    <div class="container">
        <h2 class=" text-center animate-box"> Opportunity Analytics </h2>
        <h4 class="text-center animate-box">
            Different Report For The Month Of January(01/Jan - 10/Jan) for different Data Visualization Tools
        </h4>
        <div class="row">
            <div class="col-lg-6 col-md-6  animate-box">
                {% load staticfiles %}
                <img src="{% static 'upload\\images\\AnswerJ1.png' %}" alt="JOB OPENNG IN JAN According To TECHNOLOGIES"
                     class="img-responsive" height="100%" width="100%">

            </div>
            <div class="col-lg-6 col-md-6 animate-box">
                <img src="{% static 'upload\\images\\AnswerJ2.png' %}" alt="JOB OPENINGS ACCORDING TO LOCATION"
                     class="img-responsive" height="100%" width="100%"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6 animate-box">
                <img src="{% static 'upload\\images\\AnswerJ3.png' %}" alt="JOB OPENINGS ACCORDING TO Experience"
                     height="100%" width="100%" class="img-responsive">
            </div>
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ6.png' %}" alt="Tableau Opening In Top 10 Company "
                     height="100%" width="100%" class="img-responsive">
            </div>
        </div>

        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ7.png' %}" alt="Opening In Jan According To Industry  "
                     height="100%" width="100%" class="img-responsive">
            </div>
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ8.png' %}" alt="  Opening In Jan According To Salary
 " class="img-responsive" height="100%" width="100%">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ11.png' %}" alt=" Opening For Fresher In Spotfire Accoring To Location
 " class="img-responsive" height="100%" width="100%">
            </div>
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ12.png' %}" alt=" No of Job opening for 1-3 years exp vs 3-8 exp.
 " class="img-responsive" height="100%" width="100%">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ14.png' %}" alt=" No of job opening in Hyderabad vs Chennai for Tableau
 " class="img-responsive" height="100%" width="100%">
            </div>
            <div class="col-lg-6 col-md-6  animate-box">
                <img src="{% static 'upload\\images\\AnswerJ19.png' %}" alt=" Average Salary Spotfire V/S Tableaue V/S Qlikview
 " class="img-responsive" height="100%" width="100%">
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock %}
